extends ../layout

block content
  header.site-header
    div.site-header__inner
      a.title="Familjen Kaos"
      a.about="Tiffany & Bianca Kronlöf"     
    nav.site-nav 
      ul.primary
        li="Full Patte"
        li="Underdog"
        li="Underdog"
        li="Snubben"
        li="Tiffany K"
        li="Så Javla PK"
      ul.secondary
        li="About"
        li="Press"
    div.expand-site-nav
      div.bars
        span.bar
        span.bar
        span.bar
  div.content
    section.hero
      h1.hero-title="Kaos"
    section.work
      ul
        li.project
        li.project
        li.project
    section.project

