extends ../layout

block content
  nav.navbar
    div
      a.title="Familjen Kaos"
      a.about="Tiffany & Bianca Kronlöf"      
    section.navigation
      div.expand-nav
        div.bars
          span.bar
          span.bar
          span.bar
      ul.primary
        li="Full Patte"
        li="Underdog"
        li="Underdog"
        li="Snubben"
        li="Tiffany K"
        li="Så Javla PK"
      ul.secondary
        li="About"
        li="Press"
  div.content
    section.hero
      h1.hero-title="Kaos"
    section.work
      ul
        li.project
        li.project
        li.project
    section.project

